.Rproj.user
.Rhistory
.RData
*.Rdata
*.Rds
.Ruserdata
bmi_over_the_years.R
soccerdb--most-imbalanced-league.Rmd
data/gfzock/gfzock_euro2016_preprocessed.RData
data/
data2/
hugo-universal-theme/
hugo-easy-gallery/
blogdown
public/about/2018-01-27-testing-stuff_files/
static/about/2018-01-27-testing-stuff_files/
content/post/2018-02-04-soccer-players-best-scorers.html
