<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{"<!-- themes/.../_default/baseof.html //-->" | safeHTML }}
        {{ partial "head.html" . }}

  {{ partial "head_favicon" . }}
  {{ partial "head_highlightjs" . }}
</head>
<body>
  <div id="all">
      <div class="container-fluid">
          <div class="row row-offcanvas row-offcanvas-left">
              {{ partial "sidebar.html" . }}
              {{ block "main" . }}
              {{ end }}
          </div>
      </div>
  </div>
  {{ partial "footer" . }}
  {{ partial "scripts.html" . }}

</body>
</html>
